
*{
    padding: 0;
    margin: 0;
    font-family: polysans, sans-serif;
}

body{
    background-color: black;
}


.main{
    background-image: url("assets/imgs/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-fullview.jpg");
    height: 70vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1400px, 100vw);
}

.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    display: flex;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    height: 100px;
}

nav img{
    color: red;
    width: 130px;
    position: relative;
    z-index: 1;
}

nav button{
    position: relative;
    z-index: 1;
}

.hero{
    font-family: 'Netflix Sans', sans-serif;
    height: calc(100% - 147px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    gap: 23px;
    padding: 23px;
    text-align: center;
}

.hero-buttons{
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.hero> :first-child{
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.seperation{
    height: 7px;
    background-color: rgb(49, 49, 49);
}

.button{
    font-family: 'Poppins', sans-serif;
    padding:  3px 8px;
    font-weight: 400;
    background-color: rgba(197, 197, 197, 0.205);
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.red{
    background-color: red;
    color: white;
    padding: 13px 34px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}

.red-sm{
    background-color: red;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}

.main input{
    font-size: 13px;
    border-radius: 4px;
    border: none;
    background-color: rgba(23, 23, 23, 0.3);
    padding: 18px 40px;
    font-weight: 600;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    font-family: 'Netflix Sans', sans-serif;
}


.sec-img img{
    width: 555px;
    margin: 10px 0;
}

@media screen and (max-width: 1100px) {
    nav{
        max-width: 90vw;
    }
    .first{
        flex-wrap: wrap;
    }
    .sec-img img{
    width: 405px;
}
    
}

@media screen and (max-width: 500px) {
    .hero-buttons{
        flex-direction: column;
    }
    nav{
        max-width: 80vw;
    }
    .hero> :first-child{
    font-weight: 900;
    font-size: 30px;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}
    
}
section.first > div{
    display: flex;
    flex-direction: column;
}


.first > div :first-child{
    font-size: 48px;
    font-weight: bolder;
}

.first > div :nth-child(2){
    font-size: 24px;
    font-weight: lighter; 
}


.faq{
    color: white;
    padding: 34px;
}

.faq h2{
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}


.faqbox{
    display: flex;
    background-color: rgb(59, 58, 58);
    justify-content: space-between;
    padding: 13px;
    max-width: 50vw;
    margin: 9px auto;
    cursor: pointer;
    font-size: 24px;
    transition: all 0.5s ease-out;
}

.faqbox:hover{
    background-color: rgb(75, 70, 70);
    
}

footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    gap: 14px;
}

footer .questions{
    padding: 34px 0;
}

.footer a {
    font-size: 14px;
    color: white;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    padding: 34px;
}
@media screen and (max-width: 1100px) {
   
    .footer{
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
    .first > div :first-child{
    font-size: 44px;
    font-weight: bolder;
}

.first > div :nth-child(2){
    font-size: 22px;
    font-weight: lighter; 
}

.faq{
    color: white;
    padding: 27px;
}


.faq h2{
    font-size: 42px;
    font-weight: bolder;
    text-align: center;
}

}

@media screen and (max-width: 400px) {

    .sec-img img{
    width: 305px;
    margin: 10px 0;
}
   
    .footer{
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
    .first > div :first-child{
    font-size: 32px;
    font-weight: bolder;
}

.first > div :nth-child(2){
    font-size: 16px;
    font-weight: lighter; 
}

.faq{
    color: white;
    padding: 18px;
}

.faq h2{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.faqbox{
    font-size: 18px;
}

.red{
    background-color: red;
    color: white;
    padding: 6px 23px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}

.main input{
    font-size: 13px;
    border-radius: 4px;
    border: none;
    background-color: rgba(23, 23, 23, 0.3);
    padding: 8px 20px;
    font-weight: 600;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

nav{
    display: flex;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    height: 100px;
}

nav img{
    color: red;
    width: 115px;
    position: relative;
    z-index: 1;
}

}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 19px;

}